In [48]:
List=[20,10,16,19,25,1,276,188]
for odd in List:
 if((odd % 2)== 1):
    print(odd,"is odd")

19 is odd
25 is odd
1 is odd

In [52]:
def odd():
    List=[20,10,16,19,25,1,276,188]
    for odd in List:
        if((odd % 2)== 1):
            print(odd,"is odd")

In [54]:
odd()

19 is odd
25 is odd
1 is odd

In [56]:
List=[20,10,16,19,25,1,276,188]
for even in List:
 if((even % 2)== 0):
    print(even,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even

In [58]:
def even():
    List=[20,10,16,19,25,1,276,188]
    for even in List:
        if((even % 2)== 0):
            print(even,"is even")

In [60]:
even()

20 is even
10 is even
16 is even
276 is even
188 is even

In [113]:
age = int(input("Enter the age:"))
if age<21:
   print("NOT ELIGIBLE")
else:
    print("ELIGIBLE")

Enter the age: 20

NOT ELIGIBLE

In [123]:
print("Your Gender:Male")
age = int(input("Your age:"))
if age<21:
   print("NOT ELIGIBLE")
else:
    print("ELIGIBLE")

Your Gender:Male

Your age: 20

NOT ELIGIBLE

In [133]:
def EligibilityForMarriage():
    print("Your Gender:Male")
    age = int(input("Your age:"))
    if age<21:
        print("NOT ELIGIBLE")
    else:
        print("ELIGIBLE")

In [139]:
EligibilityForMarriage()

Your Gender:Male

Your age: 20

NOT ELIGIBLE

In [158]:
Subject1=98
print("Subject1=98")
Subject2=87
print("Subject2=87")
Subject3=95
print("Subject3=95")
Subject4=95
print("Subject4=95")
Subject5=93
print("Subject5=93")
add=Subject1+Subject2+Subject3+Subject4+Subject5
print("Total:",add)
percentage=Total/5

Subject1=98
Subject2=87
Subject3=95
Subject4=95
Subject5=93
Total: 468

NameError: name 'Total' is not defined